<div class="row">
  <div class="col s3">
    <ul>
      <li v-for="post in posts">{{post.title}}</li>
    </ul>
  </div>
  <form class="col s3" v-on:submit.prevent="submitted">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="title" v-model="title" class="materialize-textarea"></textarea>
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <textarea id="message" v-model="message" class="materialize-textarea"></textarea>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  <preview :title="title" :message="message"></preview>
</div>
